---

import Container from "../shared/Container.astro";
// import FooterNav from "../shared/FooterNav.astro";
import Paragraph from "../shared/Paragraph.astro";

---

    </Container>
    <div class=" bg-gradient-to-tl from-box-bg py-2 relative">
        <Container>
            <div class="flex justify-between items-center gap-6 md:text-lg text-heading-3">
                <div>
                    &copy; <span id="year"></span> Rushlow Studios. All right reserved
                </div>
                <div>
                    Proudly made by <a href="https://ryanrushlow.netlify.app" target="_blank" class="font-semibold">Ryan Rushlow </a>
                </div>
            </div>
        </Container>
    </div>
</footer>
